<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coin_investment</title>
    <link rel="stylesheet" href="/css/bw_stylesheet.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"> </script>  
</head>
<body>
<div class="wrap">
    <div style="background-color: #14776a;">
        <div class="header">
            <div class="top_logo">
                <a href="/">
                    <img src="<%=logoDataURI%>" alt="logo" height="70px">
                </a>
            </div>
            <div class="top_menu">
                <a href="" class="top_menu_link" style="margin-left: 20px;">거래소</a>
                <a href="/board/list" class="top_menu_link" style="margin-left: 30px;">게시판</a>
                <a href="" class="top_menu_link" style="margin-left: 30px;">내 코인</a>
                <a href="" class="top_menu_link" style="margin-left: 30px;">거래내역</a>
            </div>
            <div class="top_login_register_box">
                <a href="/login" class="top_login_button">로그인</a>
                <a href="" class="top_register_button">회원가입</a>
            </div>
        </div>
    </div>
    
    
    <!-- -------------------------아래는 수정하지 말것-------------------------- -->
    
    <script>
        //window.onscroll = function(){}
        /*
        $(document).ready(function() {
        $(window).scroll(function() {
            if ($(document).scrollTop() > 118) {
                $("p").addClass("board_top01");
                $("nav").addClass("space");
            } else {
                $("p").removeClass("board_top01");
                $("nav").removeClass("space");
            }
            if ($(document).scrollLeft() >= 1) {
                $("p").removeClass("board_top01");
                $("nav").removeClass("space");
            }
        });
        });
        */
        $(document).ready(function() {
        $(window).scroll(function() {
            if ($(document).scrollTop() > 350) {
                $("nav").addClass("space");
            } else {

                $("nav").removeClass("space");
            }
        });
        });
    </script>

        <div class="container">

            <div class="board_top">

                <b style="font-size: 30px;">게시글 쓰기</b>

                <input class="button btnFade"  type="button" value="완료"
                    onClick="location.href='/board/list'">

                <input class="button btnFade" type=button value="목록보기" 
                    onClick="location.href='/board/list'">
                    
            </div>
        
            
            <div class="toolbox_title">
                
                <select name="category" class="combobox" style="margin: auto;">
                    <option value="none" selected>카테고리를 선택해주세요</option>
                    <option value="notice">공지</option>
                    <option value="free">자유</option>
                    <option value="question">질문</option>
                    <option value="news">뉴스</option>
                </select> 
                
                <b>작성자</b>
                <input type="text" name="id" value="" readonly />
                
                <div style="height: 5px;"></div>
                
                <input class="titlebox" type="text" 
                placeholder="제목을 입력해주세요" name="title" />
                
                <div style="height: 5px;"></div>
                
            </div>
            
            <div style="height: 5px;"></div>
            <nav></nav>
            
            <div class="toolbox_image">
                
                <b>이미지파일 첨부</b><br>
                <input type="file" name="image_file_name" onchange=""/> 
                <img id="img" src="#" width=100 height=100 alt="선택된 이미지가 없습니다" />

                </div>

                
                    <textarea class="textarea" placeholder="내용을 입력하세요" 
                        name="content"></textarea>
             
                                
            </div>
            <div class="footer"></div>
</body>
</html>