<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      .wrap {
        min-width: 1340px;
      }
      .login_box {
        width: 450px;
        height: 350px;
        border: 1px solid black;
        margin: auto;
        text-align: center;
        border-radius: 30px;
        overflow: hidden;
      }
      .login_text {
        text-align: center;
        padding-top: 15px;
        padding-bottom: 10px;
        background-color: #14aa1e;
        border-bottom: 1px solid black;
        color: white;
        font-size: 20px;
      }
      .login_input_box {
        margin-top: 25px;
        height: 100px;
      }
      .logo_box {
        margin-top: 130px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="wrap">
      <div class="logo_box">
        <a href="/">
          <img src="<%=logoDataURI%>" alt="logo" style="height: 40px" />
        </a>
      </div>
      <div class="login_box">
        <form action="/login/loginCheck" method="post">
          <div class="login_text">
            <b
              >로&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;그&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;인</b
            >
          </div>
          <div class="login_input_box">
            <input
              name="userId"
              type="text"
              placeholder="아이디"
              style="width: 350px; height: 40px"
            />
            <br />
            <input
              name="userPwd"
              type="password"
              placeholder="비밀번호"
              style="width: 350px; height: 40px"
            />
            <br />
            <br />
            <input
              type="submit"
              value="로그인"
              style="width: 350px; height: 40px"
            />
            <br />
            <a href="kakao_login">
              <img
                src="<%=kakao_loginDataURI%>"
                alt="카카오계정으로 로그인"
                style="
                  height: 40px;
                  width: 300px;
                  margin-top: 15px;
                  border: 1px solid black;
                  border-radius: 7px;
                "
              />
            </a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
