<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .wrap {
            min-width: 1340px;
        }
        .login_box{
            width: 450px;
            height: 350px;
            border: 1px solid black;
            margin: auto;
            text-align: center;
            border-radius: 30px;
            overflow: hidden;
        }
        .login_text {
            text-align: center;
            padding-top: 15px;
            padding-bottom: 10px;
            /* background-color: #14aa1e; */
            background-color: #14776a;
            border-bottom: 1px solid black;
            color: white;
            font-size: 20px;
        }
        .login_input_box{
            margin-top: 25px;
            height: 100px;
        }
        .logo_box {
            margin-top: 130px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            text-align: center;
        }
        .kakao_naver_login_box{
            margin-top: 65px;
        }
        </style>

        <!-- 카카오톡 로그인 구현 -->
        <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
        <script>
            let result;
            window.Kakao.init("02161298a67ff56f8d368887a7baa73c");
            
            async function kakaoLogin() {
                let result;
                await window.Kakao.Auth.login({
                    scope:'account_email',
                    success:async function(authObj) {
                        await window.Kakao.API.request({
                            url:'/v2/user/me',
                            success: res => {
                                const kakao_account = res.kakao_account;
                                result = kakao_account.email;
                            }
                    });
                    if(result === undefined){
                        alert("카카오 로그인 실패");
                    }else{
                        // 카카오톡에서 이메일 받아서 DB에 가입된 고객 중
                        // email 이 동일한 고객이 있는지 확인
                        let data = {email : result};

                        fetch("/login/emailCheck",{
                            method : "post",
                            headers : {"Content-Type":"application/json"},
                            body : JSON.stringify(data)
                        })
                        .then(res => res.json())
                        .then(checkResult => {
                            if(checkResult !== 0){
                                // 이메일 중복검사 이후 기존 가입 회원이면 회원 테이블 정보
                                // 반환받음 > 회원 정보 전송
                                document.getElementById("success_addr").value = checkResult.ADDR;
                                document.getElementById("success_age").value = checkResult.AGE;
                                document.getElementById("success_email").value = checkResult.EMAIL;
                                document.getElementById("success_grade").value = checkResult.GRADE;
                                document.getElementById("success_id").value = checkResult.ID;
                                document.getElementById("success_login_type").value = checkResult.LOGIN_TYPE;
                                document.getElementById("success_memberId").value = checkResult.MEMBER_ID;
                                document.getElementById("success_name").value = checkResult.NAME;
                                document.getElementById("success_nickname").value = checkResult.NICKNAME;
                                document.getElementById("success_phone").value = checkResult.PHONE;
                                document.getElementById("user_data").submit();
                            }else{
                                // 기존회원 아닐 시 닉네임 기입 창으로 보냄
                                let invisible_email = document.getElementById("invisible_email");
                                invisible_email.value = result;
                                document.getElementById("invisible_email_post").submit();
                            }
                        })
                        }
                    }
                });
            }
        </script>
</head>
<body>
    <div class="wrap">
        <div class="logo_box">
            <a href="/">
                <img    src="<%=blacklogo%>"
                        alt="logo"
                        style="height: 100px;">
            </a>
        </div>
        <div class="login_box">
            <form action="/login/loginCheck" method="post">
                <div class="login_text"><b>로&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;그&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;인</b></div>
                <div class="login_input_box">
                    <input name="userId" type="text" placeholder="아이디" style="width: 350px; height: 40px;">
                    <br>
                    <input name="userPwd" type="password" placeholder="비밀번호" style="width: 350px; height: 40px;">
                    <br>
                    <br>
                    <input type="submit" value="로그인" style="width: 350px; height: 40px; z-index: 99;">
                    <br>
                </div>
            </form>
            <div class="kakao_naver_login_box">
                <a onclick="kakaoLogin()" style="cursor: pointer;">
                    <img    src="<%=kakao_loginDataURI%>"
                            alt="카카오 계정으로 로그인"
                            style="
                            height: 40px;
                            width: 300px;
                            border: 1px solid black;
                            border-radius: 7px;
                            ">
                </a><br>
                <a href="naver_login"
                    style=" display: block;
                            margin: auto;
                            height: 40px;
                            width: 300px;
                            background: #03C75A;
                            border: 1px solid black;
                            border-radius: 7px;">
                    <img    src="<%=naver_loginDataURI%>" 
                            alt="네이버 계정으로 로그인" 
                            style="height: 40px;"
                            >
                </a>
            </div>
        </div>
    </div>
    <div style="display: none;">
        <form action="login/kakao_login" method="post" id="invisible_email_post" >
            <input name="email" type="text" id="invisible_email" value="none" readonly>
        </form>
    </div>
    <div style="display: none;">
        <form action="login/success_kakao_login" method="post" id="user_data" >
            <input name="addr" type="text" id="success_addr" value="none" readonly>
            <input name="age" type="text" id="success_age" value="none" readonly>
            <input name="email" type="text" id="success_email" value="none" readonly>
            <input name="grade" type="text" id="success_grade" value="none" readonly>
            <input name="id" type="text" id="success_id" value="none" readonly>
            <input name="login_type" type="text" id="success_login_type" value="none" readonly>
            <input name="member_id" type="text" id="success_memberId" value="none" readonly>
            <input name="name" type="text" id="success_name" value="none" readonly>
            <input name="nickname" type="text" id="success_nickname" value="none" readonly>
            <input name="phone" type="text" id="success_phone" value="none" readonly>
        </form>
    </div>
</body>
</html>