<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .wrap {
            min-width: 1340px;
        }
        .login_box{
            width: 450px;
            height: 350px;
            border: 1px solid black;
            margin: auto;
            text-align: center;
            border-radius: 30px;
            overflow: hidden;
        }
        .login_text {
            text-align: center;
            padding-top: 15px;
            padding-bottom: 10px;
            /* background-color: #14aa1e; */
            background-color: #14776a;
            border-bottom: 1px solid black;
            color: white;
            font-size: 20px;
        }
        .login_input_box{
            margin-top: 25px;
            height: 100px;
        }
        .logo_box {
            margin-top: 130px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            text-align: center;
        }
    </style>
  </head>
  <body>
    <div class="wrap">

        <div class="logo_box">
            <a href="/">
                <img    src="<%=logoDataURI%>"
                        alt="logo"
                        style="height: 100px;">
            </a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
