<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>거래소</title>
    <style>
        * {
          margin: 0px;
          padding: 0px;
        }
        div {
          /* display: block; */
        }
        a {
          text-decoration: none;
        }
        .wrap {
          min-width: 1340px;
          background: #f1f1f3;
          padding-bottom: 20px;
        }
        .header {
          width: 1280px;
          height: 100px;
          margin: 0px auto 0px;
          /* background-color: #14aa1e; */
          /* background-color: #14776a; */
          /* border-radius: 20px; */
        }
        .container {
          position: relative;
          width: 1280px;
          height: 1000px;
          margin: 20px auto 0px;
          padding-bottom: 60px;
          /* border: 1px solid black; */
          /* background: white; */
          background-color: #f1f1f3;
        } 
        .footer {
          width: 1280px;
          height: 100px;
          margin: 20px auto 0px;
          border: 1px solid black;
          background: white;
          display: flex;
        }
        .top_login_register_box {
          display: inline-block;
          height: 20px;
          margin-top: 40px;
          margin-left: 910px;
          font-size: 17px;
          font-weight: bolder;
          text-align: right;
        }
        .top_login_button {
          font-size: 20px;
          margin-right: 40px;
          color: white;
        }
        .top_register_button {
          font-size: 20px;
          margin-right: 40px;
          color: white;
        }
        .top_logo {
          position: absolute;
          width: 150px;
          height: 70px;
          margin-left: 30px;
          margin-top: 15px;
          border: none;
          text-align: center;
        }
        .top_menu {
          position: absolute;
          width: 700px;
          height: 70px;
          margin-left: 210px;
          margin-top: 15px;
        }
        .top_menu_link {
          display: inline-block;
          height: 26px;
          margin-top: 22px;
          font-size: 26px;
          font-weight: bold;
          color: white
        }
        .coin_all {
          width: 850px;
          height: 1060px;
          float: left;
          background-color: white;
        }
        .coin_list {
          width: 410px;
          height: 1060px;
          float: right;
          background-color: white;
        }
        .search {
          display: flex;
          height: 50px;
        }
        .input {
          border: 2px solid white;
          outline: none;
        }
        .input:focus {
          border: 2px solid black;
          border-radius: 5px;
          
        }
        .scroll_coin_list{
          overflow-y: auto;
          height: 978px;
        }
        .show_change{
          margin-top: 4px; 
          margin-bottom: 4px;
          border: 1px solid white;
        }
    </style>
    <script>
      window.onload = function() {
        var input = document.querySelector(".input")
        input.addEventListener("click", function() {
          this.setAttribute("placeholder", "")
        })
        input.addEventListener("blur", function() {
        if (this.value === "") {
          this.setAttribute("placeholder", "코인명/심볼검색");
        }
        });
        setInterval(coin_change, 1000);
      }
      const coin_change = () => {
        fetch("/market/coin_list", {
                    method : "post",
                    headers : {"Content-Type":"application/json"},
                    body : JSON.stringify()
                })
        .then(res => res.json())
        .then(data => {
          for(let i = 0; i < data.length; i++) {
            let num = (i).toString();
            let up_box = ("up_box").concat(num);
            let down_box = ("down_box").concat(num);
            let up_line = ("up_line").concat(num);
            let down_line = ("down_line").concat(num);
            let coin_stock_price = ("coin_stock_price").concat(num);
            let coin_stock_change_rate = ("coin_stock_change_rate").concat(num);
            let coin_stock_kor_name = ("coin_stock_kor_name").concat(num);
            let coin_stock_eng_name = ("coin_stock_eng_name").concat(num);
            let coin_stock_change_price = ("coin_stock_change_price").concat(num);
            let coin_stock_trans_price = ("coin_stock_trans_price").concat(num);

            if (Number(data[i].CHANGE_RATE) > 0) {
              document.querySelector(`#${up_box}`).style.height=String(Math.abs(Number(data[i].CHANGE_RATE))/2.5).concat("px");
              document.querySelector(`#${down_box}`).style.height="1px";
              
              if (((((data[i].HIGH_PRICE - data[i].CLOSING_PRICE)/data[i].CLOSING_PRICE)*100)/2.5) >= 2) {
                document.querySelector(`#${up_line}`).style.height=((((((data[i].HIGH_PRICE - data[i].CLOSING_PRICE)/data[0].CLOSING_PRICE)*100)/2.5).toFixed(2)).concat("px"));
              }else{
                document.querySelector(`#${up_line}`).style.height="2px";
              }
              if (((((data[i].CLOSING_PRICE - data[i].LOW_PRICE)/data[i].CLOSING_PRICE)*100)/2.5) >= 2) {
                document.querySelector(`#${down_line}`).style.height=((((((data[i].CLOSING_PRICE - data[i].LOW_PRICE)/data[0].CLOSING_PRICE)*100)/2.5).toFixed(2)).concat("px"));
              }else{
                document.querySelector(`#${down_line}`).style.height="2px";
              }
              document.querySelector(`#${up_box}`).style.background="red";
              document.querySelector(`#${up_line}`).style.background="red";
              document.querySelector(`#${down_box}`).style.background="red";
              document.querySelector(`#${down_line}`).style.background="red";
              document.querySelector(`.${coin_stock_price}`).style.color="red";
              document.querySelector(`.${coin_stock_change_rate}`).style.color="red";
            }else if(Number(data[i].CHANGE_RATE) == 0){
              document.querySelector(`#${up_box}`).style.height=String(Math.abs(Number(data[i].CHANGE_RATE))/2.5).concat("px");
              document.querySelector(`#${down_box}`).style.height="1px";
              
              if (((((data[i].HIGH_PRICE - data[i].CLOSING_PRICE)/data[i].CLOSING_PRICE)*100)/2.5) >= 2) {
                document.querySelector(`#${up_line}`).style.height=((((((data[i].HIGH_PRICE - data[i].CLOSING_PRICE)/data[i].CLOSING_PRICE)*100)/2.5).toFixed(2)).concat("px"));
              }else{
                document.querySelector(`#${up_line}`).style.height="2px";
              }
              if (((((data[i].CLOSING_PRICE - data[i].LOW_PRICE)/data[i].CLOSING_PRICE)*100)/2.5) >= 2) {
                document.querySelector(`#${down_line}`).style.height=((((((data[i].CLOSING_PRICE - data[i].LOW_PRICE)/data[i].CLOSING_PRICE)*100)/2.5).toFixed(2)).concat("px"));
              }else{
                document.querySelector(`#${down_line}`).style.height="2px";
              }
              document.querySelector(`#${up_box}`).style.background="gray";
              document.querySelector(`#${up_line}`).style.background="gray";
              document.querySelector(`#${down_box}`).style.background="gray";
              document.querySelector(`#${down_line}`).style.background="gray";
              document.querySelector(`.${coin_stock_price}`).style.color="gray";
              document.querySelector(`.${coin_stock_change_rate}`).style.color="gray";
            }else if(Number(data[i].CHANGE_RATE) < 0){
              document.querySelector(`#${up_box}`).style.height=String(Math.abs(Number(data[i].CHANGE_RATE))/2.5).concat("px");
              document.querySelector(`#${down_box}`).style.height="1px";
              
              if (((((data[i].HIGH_PRICE - data[i].CLOSING_PRICE)/data[i].CLOSING_PRICE)*100)/2.5) >= 2) {
                document.querySelector(`#${up_line}`).style.height=((((((data[i].HIGH_PRICE - data[i].CLOSING_PRICE)/data[i].CLOSING_PRICE)*100)/2.5).toFixed(2)).concat("px"));
              }else{
                document.querySelector(`#${up_line}`).style.height="2px";
              }
              if (((((data[i].CLOSING_PRICE - data[i].LOW_PRICE)/data[i].CLOSING_PRICE)*100)/2.5) >= 2) {
                document.querySelector(`#${down_line}`).style.height=((((((data[i].CLOSING_PRICE - data[i].LOW_PRICE)/data[i].CLOSING_PRICE)*100)/2.5).toFixed(2)).concat("px"));
              }else{
                document.querySelector(`#${down_line}`).style.height="2px";
              }
              document.querySelector(`#${up_box}`).style.background="blue";
              document.querySelector(`#${up_line}`).style.background="blue";
              document.querySelector(`#${down_box}`).style.background="blue";
              document.querySelector(`#${down_line}`).style.background="blue";
              document.querySelector(`.${coin_stock_price}`).style.color="blue";
              document.querySelector(`.${coin_stock_change_rate}`).style.color="blue";
            }
            document.querySelector(`#${coin_stock_kor_name}`).textContent = data[i].COIN_NAME;
            document.querySelector(`#${coin_stock_eng_name}`).textContent = data[i].COIN_ENG_NAME;
            document.querySelector(`#${coin_stock_price}`).textContent = data[i].NOW_PRICE;
            document.querySelector(`#${coin_stock_change_rate}`).textContent = data[i].CHANGE_RATE;
            document.querySelector(`#${coin_stock_change_price}`).textContent = data[i].CHANGE_PRICE;
            document.querySelector(`#${coin_stock_trans_price}`).textContent = data[i].TRANS_PRICE;
          }
          return;
        });
      }
    </script>
</head>
<body>
    <div class="wrap">
        <div style="background-color: #14776a;">
            <div class="header">
                <div class="top_logo">
                    <a href="/">
                        <img src="<%=logoDataURI%>" 
                            alt="logo"
                            height="70px"
                            >
                    </a>
                </div>
                <div class="top_menu">
                    <a href="/market" class="top_menu_link" style="margin-left: 20px;">거래소</a>
                    <a href="" class="top_menu_link" style="margin-left: 30px;">게시판</a>
                    <a href="" class="top_menu_link" style="margin-left: 30px;">내 코인</a>
                    <a href="" class="top_menu_link" style="margin-left: 30px;">거래내역</a>
                </div>
                <div class="top_login_register_box">
                    <% if(member) { %>
                        <a href="/login/userInfo" class="top_login_button">MY</a>
                        <a href="/login/logout" class="top_register_button">로그아웃</a>
                    <%} else { %>
                        <a href="/login" class="top_login_button">로그인</a>
                        <a href="/register" class="top_register_button">회원가입</a>
                    <%}%>
                </div>
            </div>
        </div>
        <div class="container">
          <section class="coin_all" style="border: 1px solid black;">
            asdf
          </section>
          <section class="coin_list" style="border: 1px solid black;"> 
            <div class="search" >
              <input class="input" type="text" placeholder="코인명/심볼검색" style="width: 350px; height: 30px; margin-top: 8px; margin-left: 12px; font-weight: 600;"> 
              <a style="cursor: pointer; margin-top: 7px;"><img src="<%= searchDataURI %>" height="35px" ></a>
            </div>
            <hr>
            <div class="coin_list_name" style=" font-size: 11px; color: gray; height: 28px; display: flex;">
              <div style="padding-top: 5px; width: 90px; text-align: right;">한글명</div>
              <div style="padding-top: 5px; width: 125px; text-align: right;">현재가</div>
              <div style="padding-top: 5px; width: 85px; text-align: right;">전일대비</div>
              <div style="padding-top: 5px; width: 75px; text-align: right;">거래대금</div>
            </div>
           <hr>
            <div class="scroll_coin_list">
              
              <div class="coin_stock" style="height: 60px; position: relative; display: flex;">
                <div class="coin_stock_graph" style="width: 40px; padding-top: 24px; padding-left: 15px;" >
                  <div style="display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: -5px;">
                    <span id="up_box0" class="box" style="position: absolute; display: block; width: 12px; height: 1px; bottom: 0px;" ></span>
                    <span id="up_line0" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; bottom: 0px;" ></span>
                  </div>
                  <div style=" display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: 4px;">
                    <span id="down_box0" class="box" style="position: absolute; display: block; width: 12px; height: 1px; top:0px" ></span>
                    <span id="down_line0" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; top: 0px;" ></span>
                  </div>
                </div>
                <div class="coin_stock_name" style="width: 90px; margin-top: 13px; font-size: 12px;">
                  <label id="coin_stock_kor_name0" style="font-weight: 600;"></label><br>
                  <label id="coin_stock_eng_name0"></label>
                </div>
                <div class="show_change">
                  <div class="coin_stock_price0" style="width: 80px; margin-top: 15px; font-size: 13px; text-align: right;">
                    <label id="coin_stock_price0" style="font-weight: 600;"></label>
                  </div>
                </div>
                <div class="coin_stock_change_rate0" style="width: 80px; margin-top: 10px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_change_rate0" style="font-weight: 600;"></label><label style="font-weight: 600;">%</label><br>
                  <label id="coin_stock_change_price0" style="font-weight: 600;"></label>
                </div>
                <div class="coin_stock_trade_price" style="width: 90px; margin-top: 19px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_trans_price0" style="font-size: 14px; font-weight: 600;"></label><label style="color: gray; font-weight: 600; font-size: 11px;">백만</label>
                </div>
              </div>

              <hr style="border-color: rgb(0, 0, 0, 0.1); border-width: 0.001px;">
              
              <div class="coin_stock" style="height: 60px; position: relative; display: flex;">
                <div class="coin_stock_graph" style="width: 40px; padding-top: 24px; padding-left: 15px;" >
                  <div style="display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: -5px;">
                    <span id="up_box1" class="box" style="position: absolute; display: block; width: 12px; height: 1px; bottom: 0px;" ></span>
                    <span id="up_line1" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; bottom: 0px;" ></span>
                  </div>
                  <div style=" display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: 4px;">
                    <span id="down_box1" class="box" style="position: absolute; display: block; width: 12px; height: 1px; top:0px" ></span>
                    <span id="down_line1" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; top: 0px;" ></span>
                  </div>
                </div>
                <div class="coin_stock_name" style="width: 90px; margin-top: 13px; font-size: 12px;">
                  <label id="coin_stock_kor_name1" style="font-weight: 600;"></label><br>
                  <label id="coin_stock_eng_name1"></label>
                </div>
                <div class="show_change">
                  <div class="coin_stock_price1" style="width: 80px; margin-top: 15px; font-size: 13px; text-align: right;">
                    <label id="coin_stock_price1" style="font-weight: 600;"></label>
                  </div>
                </div>
                <div class="coin_stock_change_rate1" style="width: 80px; margin-top: 10px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_change_rate1" style="font-weight: 600;"></label><label style="font-weight: 600;">%</label><br>
                  <label id="coin_stock_change_price1" style="font-weight: 600;"></label>
                </div>
                <div class="coin_stock_trade_price" style="width: 90px; margin-top: 19px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_trans_price1" style="font-size: 14px; font-weight: 600;"></label><label style="color: gray; font-weight: 600; font-size: 11px;">백만</label>
                </div>
              </div>

              <hr style="border-color: rgb(0, 0, 0, 0.1); border-width: 0.001px;">
              
              <div class="coin_stock" style="height: 60px; position: relative; display: flex;">
                <div class="coin_stock_graph" style="width: 40px; padding-top: 24px; padding-left: 15px;" >
                  <div style="display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: -5px;">
                    <span id="up_box2" class="box" style="position: absolute; display: block; width: 12px; height: 1px; bottom: 0px;" ></span>
                    <span id="up_line2" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; bottom: 0px;" ></span>
                  </div>
                  <div style=" display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: 4px;">
                    <span id="down_box2" class="box" style="position: absolute; display: block; width: 12px; height: 1px; top:0px" ></span>
                    <span id="down_line2" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; top: 0px;" ></span>
                  </div>
                </div>
                <div class="coin_stock_name" style="width: 90px; margin-top: 13px; font-size: 12px;">
                  <label id="coin_stock_kor_name2" style="font-weight: 600;"></label><br>
                  <label id="coin_stock_eng_name2"></label>
                </div>
                <div class="show_change">
                  <div class="coin_stock_price2" style="width: 80px; margin-top: 15px; font-size: 13px; text-align: right;">
                    <label id="coin_stock_price2" style="font-weight: 600;"></label>
                  </div>
                </div>
                <div class="coin_stock_change_rate2" style="width: 80px; margin-top: 10px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_change_rate2" style="font-weight: 600;"></label><label style="font-weight: 600;">%</label><br>
                  <label id="coin_stock_change_price2" style="font-weight: 600;"></label>
                </div>
                <div class="coin_stock_trade_price" style="width: 90px; margin-top: 19px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_trans_price2" style="font-size: 14px; font-weight: 600;"></label><label style="color: gray; font-weight: 600; font-size: 11px;">백만</label>
                </div>
              </div>

              <hr style="border-color: rgb(0, 0, 0, 0.1); border-width: 0.001px;">
              
              <div class="coin_stock" style="height: 60px; position: relative; display: flex;">
                <div class="coin_stock_graph" style="width: 40px; padding-top: 24px; padding-left: 15px;" >
                  <div style="display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: -5px;">
                    <span id="up_box3" class="box" style="position: absolute; display: block; width: 12px; height: 1px; bottom: 0px;" ></span>
                    <span id="up_line3" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; bottom: 0px;" ></span>
                  </div>
                  <div style=" display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: 4px;">
                    <span id="down_box3" class="box" style="position: absolute; display: block; width: 12px; height: 1px; top:0px" ></span>
                    <span id="down_line3" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; top: 0px;" ></span>
                  </div>
                </div>
                <div class="coin_stock_name" style="width: 90px; margin-top: 13px; font-size: 12px;">
                  <label id="coin_stock_kor_name3" style="font-weight: 600;"></label><br>
                  <label id="coin_stock_eng_name3"></label>
                </div>
                <div class="show_change">
                  <div class="coin_stock_price3" style="width: 80px; margin-top: 15px; font-size: 13px; text-align: right;">
                    <label id="coin_stock_price3" style="font-weight: 600;"></label>
                  </div>
                </div>
                <div class="coin_stock_change_rate3" style="width: 80px; margin-top: 10px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_change_rate3" style="font-weight: 600;"></label><label style="font-weight: 600;">%</label><br>
                  <label id="coin_stock_change_price3" style="font-weight: 600;"></label>
                </div>
                <div class="coin_stock_trade_price" style="width: 90px; margin-top: 19px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_trans_price3" style="font-size: 14px; font-weight: 600;"></label><label style="color: gray; font-weight: 600; font-size: 11px;">백만</label>
                </div>
              </div>

              <hr style="border-color: rgb(0, 0, 0, 0.1); border-width: 0.001px;">
              
              <div class="coin_stock" style="height: 60px; position: relative; display: flex;">
                <div class="coin_stock_graph" style="width: 40px; padding-top: 24px; padding-left: 15px;" >
                  <div style="display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: -5px;">
                    <span id="up_box4" class="box" style="position: absolute; display: block; width: 12px; height: 1px; bottom: 0px;" ></span>
                    <span id="up_line4" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; bottom: 0px;" ></span>
                  </div>
                  <div style=" display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: 4px;">
                    <span id="down_box4" class="box" style="position: absolute; display: block; width: 12px; height: 1px; top:0px" ></span>
                    <span id="down_line4" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; top: 0px;" ></span>
                  </div>
                </div>
                <div class="coin_stock_name" style="width: 90px; margin-top: 13px; font-size: 12px;">
                  <label id="coin_stock_kor_name4" style="font-weight: 600;"></label><br>
                  <label id="coin_stock_eng_name4"></label>
                </div>
                <div class="show_change">
                  <div class="coin_stock_price4" style="width: 80px; margin-top: 15px; font-size: 13px; text-align: right;">
                    <label id="coin_stock_price4" style="font-weight: 600;"></label>
                  </div>
                </div>
                <div class="coin_stock_change_rate4" style="width: 80px; margin-top: 10px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_change_rate4" style="font-weight: 600;"></label><label style="font-weight: 600;">%</label><br>
                  <label id="coin_stock_change_price4" style="font-weight: 600;"></label>
                </div>
                <div class="coin_stock_trade_price" style="width: 90px; margin-top: 19px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_trans_price4" style="font-size: 14px; font-weight: 600;"></label><label style="color: gray; font-weight: 600; font-size: 11px;">백만</label>
                </div>
              </div>

              <hr style="border-color: rgb(0, 0, 0, 0.1); border-width: 0.001px;">
              
              <div class="coin_stock" style="height: 60px; position: relative; display: flex;">
                <div class="coin_stock_graph" style="width: 40px; padding-top: 24px; padding-left: 15px;" >
                  <div style="display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: -5px;">
                    <span id="up_box5" class="box" style="position: absolute; display: block; width: 12px; height: 1px; bottom: 0px;" ></span>
                    <span id="up_line5" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; bottom: 0px;" ></span>
                  </div>
                  <div style=" display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: 4px;">
                    <span id="down_box5" class="box" style="position: absolute; display: block; width: 12px; height: 1px; top:0px" ></span>
                    <span id="down_line5" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; top: 0px;" ></span>
                  </div>
                </div>
                <div class="coin_stock_name" style="width: 90px; margin-top: 13px; font-size: 12px;">
                  <label id="coin_stock_kor_name5" style="font-weight: 600;"></label><br>
                  <label id="coin_stock_eng_name5"></label>
                </div>
                <div class="show_change">
                  <div class="coin_stock_price5" style="width: 80px; margin-top: 15px; font-size: 13px; text-align: right;">
                    <label id="coin_stock_price5" style="font-weight: 600;"></label>
                  </div>
                </div>
                <div class="coin_stock_change_rate5" style="width: 80px; margin-top: 10px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_change_rate5" style="font-weight: 600;"></label><label style="font-weight: 600;">%</label><br>
                  <label id="coin_stock_change_price5" style="font-weight: 600;"></label>
                </div>
                <div class="coin_stock_trade_price" style="width: 90px; margin-top: 19px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_trans_price5" style="font-size: 14px; font-weight: 600;"></label><label style="color: gray; font-weight: 600; font-size: 11px;">백만</label>
                </div>
              </div>

              <hr style="border-color: rgb(0, 0, 0, 0.1); border-width: 0.001px;">
              
              <div class="coin_stock" style="height: 60px; position: relative; display: flex;">
                <div class="coin_stock_graph" style="width: 40px; padding-top: 24px; padding-left: 15px;" >
                  <div style="display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: -5px;">
                    <span id="up_box6" class="box" style="position: absolute; display: block; width: 12px; height: 1px; bottom: 0px;" ></span>
                    <span id="up_line6" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; bottom: 0px;" ></span>
                  </div>
                  <div style=" display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: 4px;">
                    <span id="down_box6" class="box" style="position: absolute; display: block; width: 12px; height: 1px; top:0px" ></span>
                    <span id="down_line6" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; top: 0px;" ></span>
                  </div>
                </div>
                <div class="coin_stock_name" style="width: 90px; margin-top: 13px; font-size: 12px;">
                  <label id="coin_stock_kor_name6" style="font-weight: 600;"></label><br>
                  <label id="coin_stock_eng_name6"></label>
                </div>
                <div class="show_change">
                  <div class="coin_stock_price6" style="width: 80px; margin-top: 15px; font-size: 13px; text-align: right;">
                    <label id="coin_stock_price6" style="font-weight: 600;"></label>
                  </div>
                </div>
                <div class="coin_stock_change_rate6" style="width: 80px; margin-top: 10px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_change_rate6" style="font-weight: 600;"></label><label style="font-weight: 600;">%</label><br>
                  <label id="coin_stock_change_price6" style="font-weight: 600;"></label>
                </div>
                <div class="coin_stock_trade_price" style="width: 90px; margin-top: 19px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_trans_price6" style="font-size: 14px; font-weight: 600;"></label><label style="color: gray; font-weight: 600; font-size: 11px;">백만</label>
                </div>
              </div>

              <hr style="border-color: rgb(0, 0, 0, 0.1); border-width: 0.001px;">
              
              <div class="coin_stock" style="height: 60px; position: relative; display: flex;">
                <div class="coin_stock_graph" style="width: 40px; padding-top: 24px; padding-left: 15px;" >
                  <div style="display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: -5px;">
                    <span id="up_box7" class="box" style="position: absolute; display: block; width: 12px; height: 1px; bottom: 0px;" ></span>
                    <span id="up_line7" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; bottom: 0px;" ></span>
                  </div>
                  <div style=" display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: 4px;">
                    <span id="down_box7" class="box" style="position: absolute; display: block; width: 12px; height: 1px; top:0px" ></span>
                    <span id="down_line7" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; top: 0px;" ></span>
                  </div>
                </div>
                <div class="coin_stock_name" style="width: 90px; margin-top: 13px; font-size: 12px;">
                  <label id="coin_stock_kor_name7" style="font-weight: 600;"></label><br>
                  <label id="coin_stock_eng_name7"></label>
                </div>
                <div class="show_change">
                  <div class="coin_stock_price7" style="width: 80px; margin-top: 15px; font-size: 13px; text-align: right;">
                    <label id="coin_stock_price7" style="font-weight: 600;"></label>
                  </div>
                </div>
                <div class="coin_stock_change_rate7" style="width: 80px; margin-top: 10px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_change_rate7" style="font-weight: 600;"></label><label style="font-weight: 600;">%</label><br>
                  <label id="coin_stock_change_price7" style="font-weight: 600;"></label>
                </div>
                <div class="coin_stock_trade_price" style="width: 90px; margin-top: 19px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_trans_price7" style="font-size: 14px; font-weight: 600;"></label><label style="color: gray; font-weight: 600; font-size: 11px;">백만</label>
                </div>
              </div>

              <hr style="border-color: rgb(0, 0, 0, 0.1); border-width: 0.001px;">
              
              <div class="coin_stock" style="height: 60px; position: relative; display: flex;">
                <div class="coin_stock_graph" style="width: 40px; padding-top: 24px; padding-left: 15px;" >
                  <div style="display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: -5px;">
                    <span id="up_box8" class="box" style="position: absolute; display: block; width: 12px; height: 1px; bottom: 0px;" ></span>
                    <span id="up_line8" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; bottom: 0px;" ></span>
                  </div>
                  <div style=" display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: 4px;">
                    <span id="down_box8" class="box" style="position: absolute; display: block; width: 12px; height: 1px; top:0px" ></span>
                    <span id="down_line8" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; top: 0px;" ></span>
                  </div>
                </div>
                <div class="coin_stock_name" style="width: 90px; margin-top: 13px; font-size: 12px;">
                  <label id="coin_stock_kor_name8" style="font-weight: 600;"></label><br>
                  <label id="coin_stock_eng_name8"></label>
                </div>
                <div class="show_change">
                  <div class="coin_stock_price8" style="width: 80px; margin-top: 15px; font-size: 13px; text-align: right;">
                    <label id="coin_stock_price8" style="font-weight: 600;"></label>
                  </div>
                </div>
                <div class="coin_stock_change_rate8" style="width: 80px; margin-top: 10px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_change_rate8" style="font-weight: 600;"></label><label style="font-weight: 600;">%</label><br>
                  <label id="coin_stock_change_price8" style="font-weight: 600;"></label>
                </div>
                <div class="coin_stock_trade_price" style="width: 90px; margin-top: 19px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_trans_price8" style="font-size: 14px; font-weight: 600;"></label><label style="color: gray; font-weight: 600; font-size: 11px;">백만</label>
                </div>
              </div>

              <hr style="border-color: rgb(0, 0, 0, 0.1); border-width: 0.001px;">
              
              <div class="coin_stock" style="height: 60px; position: relative; display: flex;">
                <div class="coin_stock_graph" style="width: 40px; padding-top: 24px; padding-left: 15px;" >
                  <div style="display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: -5px;">
                    <span id="up_box9" class="box" style="position: absolute; display: block; width: 12px; height: 1px; bottom: 0px;" ></span>
                    <span id="up_line9" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; bottom: 0px;" ></span>
                  </div>
                  <div style=" display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: 4px;">
                    <span id="down_box9" class="box" style="position: absolute; display: block; width: 12px; height: 1px; top:0px" ></span>
                    <span id="down_line9" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; top: 0px;" ></span>
                  </div>
                </div>
                <div class="coin_stock_name" style="width: 90px; margin-top: 13px; font-size: 12px;">
                  <label id="coin_stock_kor_name9" style="font-weight: 600;"></label><br>
                  <label id="coin_stock_eng_name9"></label>
                </div>
                <div class="show_change">
                  <div class="coin_stock_price9" style="width: 80px; margin-top: 15px; font-size: 13px; text-align: right;">
                    <label id="coin_stock_price9" style="font-weight: 600;"></label>
                  </div>
                </div>
                <div class="coin_stock_change_rate9" style="width: 80px; margin-top: 10px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_change_rate9" style="font-weight: 600;"></label><label style="font-weight: 600;">%</label><br>
                  <label id="coin_stock_change_price9" style="font-weight: 600;"></label>
                </div>
                <div class="coin_stock_trade_price" style="width: 90px; margin-top: 19px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_trans_price9" style="font-size: 14px; font-weight: 600;"></label><label style="color: gray; font-weight: 600; font-size: 11px;">백만</label>
                </div>
              </div>

              <hr style="border-color: rgb(0, 0, 0, 0.1); border-width: 0.001px;">
              
              <div class="coin_stock" style="height: 60px; position: relative; display: flex;">
                <div class="coin_stock_graph" style="width: 40px; padding-top: 24px; padding-left: 15px;" >
                  <div style="display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: -5px;">
                    <span id="up_box10" class="box" style="position: absolute; display: block; width: 12px; height: 1px; bottom: 0px;" ></span>
                    <span id="up_line10" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; bottom: 0px;" ></span>
                  </div>
                  <div style=" display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: 4px;">
                    <span id="down_box10" class="box" style="position: absolute; display: block; width: 12px; height: 1px; top:0px" ></span>
                    <span id="down_line10" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; top: 0px;" ></span>
                  </div>
                </div>
                <div class="coin_stock_name" style="width: 90px; margin-top: 13px; font-size: 12px;">
                  <label id="coin_stock_kor_name10" style="font-weight: 600;"></label><br>
                  <label id="coin_stock_eng_name10"></label>
                </div>
                <div class="show_change">
                  <div class="coin_stock_price10" style="width: 80px; margin-top: 15px; font-size: 13px; text-align: right;">
                    <label id="coin_stock_price10" style="font-weight: 600;"></label>
                  </div>
                </div>
                <div class="coin_stock_change_rate10" style="width: 80px; margin-top: 10px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_change_rate10" style="font-weight: 600;"></label><label style="font-weight: 600;">%</label><br>
                  <label id="coin_stock_change_price10" style="font-weight: 600;"></label>
                </div>
                <div class="coin_stock_trade_price" style="width: 90px; margin-top: 19px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_trans_price10" style="font-size: 14px; font-weight: 600;"></label><label style="color: gray; font-weight: 600; font-size: 11px;">백만</label>
                </div>
              </div>

              <hr style="border-color: rgb(0, 0, 0, 0.1); border-width: 0.001px;">
              
              <div class="coin_stock" style="height: 60px; position: relative; display: flex;">
                <div class="coin_stock_graph" style="width: 40px; padding-top: 24px; padding-left: 15px;" >
                  <div style="display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: -5px;">
                    <span id="up_box11" class="box" style="position: absolute; display: block; width: 12px; height: 1px; bottom: 0px;" ></span>
                    <span id="up_line11" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; bottom: 0px;" ></span>
                  </div>
                  <div style=" display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: 4px;">
                    <span id="down_box11" class="box" style="position: absolute; display: block; width: 12px; height: 1px; top:0px" ></span>
                    <span id="down_line11" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; top: 0px;" ></span>
                  </div>
                </div>
                <div class="coin_stock_name" style="width: 90px; margin-top: 13px; font-size: 12px;">
                  <label id="coin_stock_kor_name11" style="font-weight: 600;"></label><br>
                  <label id="coin_stock_eng_name11"></label>
                </div>
                <div class="show_change">
                  <div class="coin_stock_price11" style="width: 80px; margin-top: 15px; font-size: 13px; text-align: right;">
                    <label id="coin_stock_price11" style="font-weight: 600;"></label>
                  </div>
                </div>
                <div class="coin_stock_change_rate11" style="width: 80px; margin-top: 10px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_change_rate11" style="font-weight: 600;"></label><label style="font-weight: 600;">%</label><br>
                  <label id="coin_stock_change_price11" style="font-weight: 600;"></label>
                </div>
                <div class="coin_stock_trade_price" style="width: 90px; margin-top: 19px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_trans_price11" style="font-size: 14px; font-weight: 600;"></label><label style="color: gray; font-weight: 600; font-size: 11px;">백만</label>
                </div>
              </div>

              <hr style="border-color: rgb(0, 0, 0, 0.1); border-width: 0.001px;">
              
              <div class="coin_stock" style="height: 60px; position: relative; display: flex;">
                <div class="coin_stock_graph" style="width: 40px; padding-top: 24px; padding-left: 15px;" >
                  <div style="display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: -5px;">
                    <span id="up_box12" class="box" style="position: absolute; display: block; width: 12px; height: 1px; bottom: 0px;" ></span>
                    <span id="up_line12" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; bottom: 0px;" ></span>
                  </div>
                  <div style=" display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: 4px;">
                    <span id="down_box12" class="box" style="position: absolute; display: block; width: 12px; height: 1px; top:0px" ></span>
                    <span id="down_line12" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; top: 0px;" ></span>
                  </div>
                </div>
                <div class="coin_stock_name" style="width: 90px; margin-top: 13px; font-size: 12px;">
                  <label id="coin_stock_kor_name12" style="font-weight: 600;"></label><br>
                  <label id="coin_stock_eng_name12"></label>
                </div>
                <div class="show_change">
                  <div class="coin_stock_price12" style="width: 80px; margin-top: 15px; font-size: 13px; text-align: right;">
                    <label id="coin_stock_price12" style="font-weight: 600;"></label>
                  </div>
                </div>
                <div class="coin_stock_change_rate12" style="width: 80px; margin-top: 10px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_change_rate12" style="font-weight: 600;"></label><label style="font-weight: 600;">%</label><br>
                  <label id="coin_stock_change_price12" style="font-weight: 600;"></label>
                </div>
                <div class="coin_stock_trade_price" style="width: 90px; margin-top: 19px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_trans_price12" style="font-size: 14px; font-weight: 600;"></label><label style="color: gray; font-weight: 600; font-size: 11px;">백만</label>
                </div>
              </div>

              <hr style="border-color: rgb(0, 0, 0, 0.1); border-width: 0.001px;">
              
              <div class="coin_stock" style="height: 60px; position: relative; display: flex;">
                <div class="coin_stock_graph" style="width: 40px; padding-top: 24px; padding-left: 15px;" >
                  <div style="display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: -5px;">
                    <span id="up_box13" class="box" style="position: absolute; display: block; width: 12px; height: 1px; bottom: 0px;" ></span>
                    <span id="up_line13" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; bottom: 0px;" ></span>
                  </div>
                  <div style=" display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: 4px;">
                    <span id="down_box13" class="box" style="position: absolute; display: block; width: 12px; height: 1px; top:0px" ></span>
                    <span id="down_line13" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; top: 0px;" ></span>
                  </div>
                </div>
                <div class="coin_stock_name" style="width: 90px; margin-top: 13px; font-size: 12px;">
                  <label id="coin_stock_kor_name13" style="font-weight: 600;"></label><br>
                  <label id="coin_stock_eng_name13"></label>
                </div>
                <div class="show_change">
                  <div class="coin_stock_price13" style="width: 80px; margin-top: 15px; font-size: 13px; text-align: right;">
                    <label id="coin_stock_price13" style="font-weight: 600;"></label>
                  </div>
                </div>
                <div class="coin_stock_change_rate13" style="width: 80px; margin-top: 10px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_change_rate13" style="font-weight: 600;"></label><label style="font-weight: 600;">%</label><br>
                  <label id="coin_stock_change_price13" style="font-weight: 600;"></label>
                </div>
                <div class="coin_stock_trade_price" style="width: 90px; margin-top: 19px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_trans_price13" style="font-size: 14px; font-weight: 600;"></label><label style="color: gray; font-weight: 600; font-size: 11px;">백만</label>
                </div>
              </div>

              <hr style="border-color: rgb(0, 0, 0, 0.1); border-width: 0.001px;">
              
              <div class="coin_stock" style="height: 60px; position: relative; display: flex;">
                <div class="coin_stock_graph" style="width: 40px; padding-top: 24px; padding-left: 15px;" >
                  <div style="display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: -5px;">
                    <span id="up_box14" class="box" style="position: absolute; display: block; width: 12px; height: 1px; bottom: 0px;" ></span>
                    <span id="up_line14" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; bottom: 0px;" ></span>
                  </div>
                  <div style=" display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: 4px;">
                    <span id="down_box14" class="box" style="position: absolute; display: block; width: 12px; height: 1px; top:0px" ></span>
                    <span id="down_line14" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; top: 0px;" ></span>
                  </div>
                </div>
                <div class="coin_stock_name" style="width: 90px; margin-top: 13px; font-size: 12px;">
                  <label id="coin_stock_kor_name14" style="font-weight: 600;"></label><br>
                  <label id="coin_stock_eng_name14"></label>
                </div>
                <div class="show_change">
                  <div class="coin_stock_price14" style="width: 80px; margin-top: 15px; font-size: 13px; text-align: right;">
                    <label id="coin_stock_price14" style="font-weight: 600;"></label>
                  </div>
                </div>
                <div class="coin_stock_change_rate14" style="width: 80px; margin-top: 10px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_change_rate14" style="font-weight: 600;"></label><label style="font-weight: 600;">%</label><br>
                  <label id="coin_stock_change_price14" style="font-weight: 600;"></label>
                </div>
                <div class="coin_stock_trade_price" style="width: 90px; margin-top: 19px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_trans_price14" style="font-size: 14px; font-weight: 600;"></label><label style="color: gray; font-weight: 600; font-size: 11px;">백만</label>
                </div>
              </div>

              <hr style="border-color: rgb(0, 0, 0, 0.1); border-width: 0.001px;">
              
              <div class="coin_stock" style="height: 60px; position: relative; display: flex;">
                <div class="coin_stock_graph" style="width: 40px; padding-top: 24px; padding-left: 15px;" >
                  <div style="display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: -5px;">
                    <span id="up_box15" class="box" style="position: absolute; display: block; width: 12px; height: 1px; bottom: 0px;" ></span>
                    <span id="up_line15" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; bottom: 0px;" ></span>
                  </div>
                  <div style=" display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: 4px;">
                    <span id="down_box15" class="box" style="position: absolute; display: block; width: 12px; height: 1px; top:0px" ></span>
                    <span id="down_line15" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; top: 0px;" ></span>
                  </div>
                </div>
                <div class="coin_stock_name" style="width: 90px; margin-top: 13px; font-size: 12px;">
                  <label id="coin_stock_kor_name15" style="font-weight: 600;"></label><br>
                  <label id="coin_stock_eng_name15"></label>
                </div>
                <div class="show_change">
                  <div class="coin_stock_price15" style="width: 80px; margin-top: 15px; font-size: 13px; text-align: right;">
                    <label id="coin_stock_price15" style="font-weight: 600;"></label>
                  </div>
                </div>
                <div class="coin_stock_change_rate15" style="width: 80px; margin-top: 10px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_change_rate15" style="font-weight: 600;"></label><label style="font-weight: 600;">%</label><br>
                  <label id="coin_stock_change_price15" style="font-weight: 600;"></label>
                </div>
                <div class="coin_stock_trade_price" style="width: 90px; margin-top: 19px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_trans_price15" style="font-size: 14px; font-weight: 600;"></label><label style="color: gray; font-weight: 600; font-size: 11px;">백만</label>
                </div>
              </div>

              <hr style="border-color: rgb(0, 0, 0, 0.1); border-width: 0.001px;">
              
              <div class="coin_stock" style="height: 60px; position: relative; display: flex;">
                <div class="coin_stock_graph" style="width: 40px; padding-top: 24px; padding-left: 15px;" >
                  <div style="display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: -5px;">
                    <span id="up_box16" class="box" style="position: absolute; display: block; width: 12px; height: 1px; bottom: 0px;" ></span>
                    <span id="up_line16" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; bottom: 0px;" ></span>
                  </div>
                  <div style=" display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: 4px;">
                    <span id="down_box16" class="box" style="position: absolute; display: block; width: 12px; height: 1px; top:0px" ></span>
                    <span id="down_line16" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; top: 0px;" ></span>
                  </div>
                </div>
                <div class="coin_stock_name" style="width: 90px; margin-top: 13px; font-size: 12px;">
                  <label id="coin_stock_kor_name16" style="font-weight: 600;"></label><br>
                  <label id="coin_stock_eng_name16"></label>
                </div>
                <div class="show_change">
                  <div class="coin_stock_price16" style="width: 80px; margin-top: 15px; font-size: 13px; text-align: right;">
                    <label id="coin_stock_price16" style="font-weight: 600;"></label>
                  </div>
                </div>
                <div class="coin_stock_change_rate16" style="width: 80px; margin-top: 10px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_change_rate16" style="font-weight: 600;"></label><label style="font-weight: 600;">%</label><br>
                  <label id="coin_stock_change_price16" style="font-weight: 600;"></label>
                </div>
                <div class="coin_stock_trade_price" style="width: 90px; margin-top: 19px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_trans_price16" style="font-size: 14px; font-weight: 600;"></label><label style="color: gray; font-weight: 600; font-size: 11px;">백만</label>
                </div>
              </div>

              <hr style="border-color: rgb(0, 0, 0, 0.1); border-width: 0.001px;">
              
              <div class="coin_stock" style="height: 60px; position: relative; display: flex;">
                <div class="coin_stock_graph" style="width: 40px; padding-top: 24px; padding-left: 15px;" >
                  <div style="display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: -5px;">
                    <span id="up_box17" class="box" style="position: absolute; display: block; width: 12px; height: 1px; bottom: 0px;" ></span>
                    <span id="up_line17" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; bottom: 0px;" ></span>
                  </div>
                  <div style=" display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: 4px;">
                    <span id="down_box17" class="box" style="position: absolute; display: block; width: 12px; height: 1px; top:0px" ></span>
                    <span id="down_line17" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; top: 0px;" ></span>
                  </div>
                </div>
                <div class="coin_stock_name" style="width: 90px; margin-top: 13px; font-size: 12px;">
                  <label id="coin_stock_kor_name17" style="font-weight: 600;"></label><br>
                  <label id="coin_stock_eng_name17"></label>
                </div>
                <div class="show_change">
                  <div class="coin_stock_price17" style="width: 80px; margin-top: 15px; font-size: 13px; text-align: right;">
                    <label id="coin_stock_price17" style="font-weight: 600;"></label>
                  </div>
                </div>
                <div class="coin_stock_change_rate17" style="width: 80px; margin-top: 10px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_change_rate17" style="font-weight: 600;"></label><label style="font-weight: 600;">%</label><br>
                  <label id="coin_stock_change_price17" style="font-weight: 600;"></label>
                </div>
                <div class="coin_stock_trade_price" style="width: 90px; margin-top: 19px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_trans_price17" style="font-size: 14px; font-weight: 600;"></label><label style="color: gray; font-weight: 600; font-size: 11px;">백만</label>
                </div>
              </div>

              <hr style="border-color: rgb(0, 0, 0, 0.1); border-width: 0.001px;">
              
              <div class="coin_stock" style="height: 60px; position: relative; display: flex;">
                <div class="coin_stock_graph" style="width: 40px; padding-top: 24px; padding-left: 15px;" >
                  <div style="display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: -5px;">
                    <span id="up_box18" class="box" style="position: absolute; display: block; width: 12px; height: 1px; bottom: 0px;" ></span>
                    <span id="up_line18" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; bottom: 0px;" ></span>
                  </div>
                  <div style=" display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: 4px;">
                    <span id="down_box18" class="box" style="position: absolute; display: block; width: 12px; height: 1px; top:0px" ></span>
                    <span id="down_line18" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; top: 0px;" ></span>
                  </div>
                </div>
                <div class="coin_stock_name" style="width: 90px; margin-top: 13px; font-size: 12px;">
                  <label id="coin_stock_kor_name18" style="font-weight: 600;"></label><br>
                  <label id="coin_stock_eng_name18"></label>
                </div>
                <div class="show_change">
                  <div class="coin_stock_price18" style="width: 80px; margin-top: 15px; font-size: 13px; text-align: right;">
                    <label id="coin_stock_price18" style="font-weight: 600;"></label>
                  </div>
                </div>
                <div class="coin_stock_change_rate18" style="width: 80px; margin-top: 10px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_change_rate18" style="font-weight: 600;"></label><label style="font-weight: 600;">%</label><br>
                  <label id="coin_stock_change_price18" style="font-weight: 600;"></label>
                </div>
                <div class="coin_stock_trade_price" style="width: 90px; margin-top: 19px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_trans_price18" style="font-size: 14px; font-weight: 600;"></label><label style="color: gray; font-weight: 600; font-size: 11px;">백만</label>
                </div>
              </div>

              <hr style="border-color: rgb(0, 0, 0, 0.1); border-width: 0.001px;">
              
              <div class="coin_stock" style="height: 60px; position: relative; display: flex;">
                <div class="coin_stock_graph" style="width: 40px; padding-top: 24px; padding-left: 15px;" >
                  <div style="display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: -5px;">
                    <span id="up_box19" class="box" style="position: absolute; display: block; width: 12px; height: 1px; bottom: 0px;" ></span>
                    <span id="up_line19" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; bottom: 0px;" ></span>
                  </div>
                  <div style=" display: inline-block; position: absolute; height: 10px; width: 10px; margin-top: 4px;">
                    <span id="down_box19" class="box" style="position: absolute; display: block; width: 12px; height: 1px; top:0px" ></span>
                    <span id="down_line19" class="line" style="position: absolute; display: block; width: 1px; height: 20px; margin-left: 5.3px; top: 0px;" ></span>
                  </div>
                </div>
                <div class="coin_stock_name" style="width: 90px; margin-top: 13px; font-size: 12px;">
                  <label id="coin_stock_kor_name19" style="font-weight: 600;"></label><br>
                  <label id="coin_stock_eng_name19"></label>
                </div>
                <div class="show_change">
                  <div class="coin_stock_price19" style="width: 80px; margin-top: 15px; font-size: 13px; text-align: right;">
                    <label id="coin_stock_price19" style="font-weight: 600;"></label>
                  </div>
                </div>
                <div class="coin_stock_change_rate19" style="width: 80px; margin-top: 10px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_change_rate19" style="font-weight: 600;"></label><label style="font-weight: 600;">%</label><br>
                  <label id="coin_stock_change_price19" style="font-weight: 600;"></label>
                </div>
                <div class="coin_stock_trade_price" style="width: 90px; margin-top: 19px; font-size: 13px; text-align: right;">
                  <label id="coin_stock_trans_price19" style="font-size: 14px; font-weight: 600;"></label><label style="color: gray; font-weight: 600; font-size: 11px;">백만</label>
                </div>
              </div>

            </div>
          </section>
        </div>
        <div class="footer">
            <div id="copyright_logo" style="margin-top: 15px;">
              <img src="<%=copyrightDataURI%>" alt="logo" height="70px">
            </div>
            <div style="margin-top: 7px; margin-left: 10px;">
              고객센터 010-3858-5430 <label style="color: gray;">(평일 09:00~18:00/주말 및 공휴일 휴무) | </label>금융사고 전담 콜센터 1800-1111 <label style="color: gray;">(24시간 연중무휴)</label>
              <br>서울특별시 종로구 돈화문로 26, 4층
              <br><br><label style="color: gray;">Copyright 2024 coin_investment. All rights reserved.</label>
            </div>
        </div>
    </div>
</body>
</html>